@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&family=Dosis&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgb(106, 215, 117), rgb(29, 223, 191));
    font-family: 'Roboto';
}

.page-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.title {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 30px;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#card {
    width: 200px;
    height: 300px;
    font-size: 50px;
    padding: 10px;
    border: 1px solid rgb(130, 127, 127);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 2%;
    background: white;
    position: relative;
}

.card-icon {
    position: absolute;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.card-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px;
    text-transform: uppercase;
    width: 100%;
    transition: all 0.3s;
}

.mybtn {
    border: 1px solid rgba(255, 255, 255, 0.5);;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline-color: rgba(255, 255, 255, 0.5);
}

.mybtn:hover {
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
}
